body {
    margin-bottom: 50px;
    background-color: #fff;
}
@font-face {
	font-family: 'Avara Bold';
	src:   url('font/bold/Avara-Bold_web.eot');
    src:   url('font/bold/Avara-Bold_web.eot?') format('☺'),
           url('font/bold/Avara-Bold_web.otf') format('otf'),
            url('font/bold/Avara-Bold_web.ttf')  format('truetype'),
			url('font/bold/Avara-Bold_web.svg') format('svg'),
            url('font/bold/Avara-Bold_web.woff') format('woff'),
            url('font/bold/Avara-Bold_web.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Avara Bold Italic';
	src:	url('font/bolditalic/Avara-Bold_Italic_web.eot?#iefix') format('embedded-opentype'),  
			url('font/bolditalic/Avara-Bold_Italic_web.ttf')  format('truetype'),
			url('font/bolditalic/Avara-Bold_Italic_web.svg') format('svg'),
            url('font/bolditalic/Avara-Bold_Italic_web.woff') format('woff'),
            url('font/bolditalic/Avara-Bold_Italic_web.woff2') format('woff2'),   
            url('font/bolditalic/Avara-Bold_Italic_web.otf') format('otf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Avara Black';
	src:	url('font/black/Avara-Black_web.eot?#iefix') format('embedded-opentype'),  
			url('font/black/Avara-Black_web.ttf')  format('truetype'),
			url('font/black/Avara-Black_web.svg') format('svg'),
            url('font/black/Avara-Black_web.woff') format('woff'),
            url('font/black/Avara-Black_web.woff2') format('woff2'),   
            url('font/black/Avara-Black_web.otf') format('otf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
.nose a{
    text-decoration: none;
    display: inline-block;
    color: #000;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
    text-decoration: underline;
}
 
.nose a:hover {
    -webkit-transform: scale(.6,.6);
    -moz-transform: scale(.6,.6);
    -o-transform: scale(.6,.6);
    -ms-transform: scale(.6,.6);
    transform: scale(.6,.6);
    text-decoration: underline;
}

#categorybox{
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0vw;
    margin-left: 8vw;
    z-index: 10;
}
.categories {
    display:table;
    margin: 0 auto;
    width: 30vw;
}
.categories a {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: 'Avara Bold';
    font-size: 4vw;
    text-align: left;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    text-decoration: none;
}
.categories a:hover {
    color: #fff;
    font-family: 'Avara Bold Italic';
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
    text-decoration: underline;
}
.ascii {
    cursor: pointer;
    font-family: "Courier new", Courier, "Andale Mono", monospace;
    font-size: .8vw;
    text-align: left;
    line-height:1;
    letter-spacing: 0.05em;
}

#about{

}
#content {
    width: 100%;
}
#info {
    position: fixed;
    top: 20vw;
    left: 50vw;
    margin-left: -5.5vw;
    display: none;
    width: 25vw;
    background-color:#000;
    padding:15px; 
    color: #fff;
    border: 4px solid #fff; 
    outline: 2px solid black;
    font-family: 'Avara Bold';
    font-size: 2.2vw;
    text-align: left;
    color: #fff;
    mix-blend-mode: multiply;
}
.infotext {

}
.infotext a{
    font-family: 'Avara Bold';
    color: #fff;
        -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}
.infotext a:hover{
    font-family: 'Avara Bold Italic';
    color: #fff;
    text-decoration: underline;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
}
#asciibox {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 0vw;
    margin-left: 8vw;
    margin-bottom: 0vw;
    margin-top: 4vw;
    width: 35vw;
    display: inline-block;
}

.asciinose {
    cursor: pointer;
    font-family: "Courier new bold", Courier, "Andale Mono", monospace;
    font-size: .4vw;
    color: rgba(0, 0, 0, 0);
    text-align: left;
    line-height:1;
    letter-spacing: 0.1em
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: 0px 0 0 #fcc9be , 0px 0 0 rgb(226,91,14) , 0px 0 0 rgb(245,221,8) , 0px 0 0 rgb(5,148,68) , 0px 0 0 rgb(2,135,206) , 0px 0 0 rgb(4,77,145) , 0px 0 0 rgb(42,21,113) ;
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -o-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


pre {
    font-family: 'Courier New', monospace;
    font-weight: 400;
    margin-bottom: 1;
}

.etah {
    display: block;
        background-color: transparent;
    left: 10vw;
    top: 10vw;
    width: 80vw;
    margin: auto;
    z-index: 0;
}
.etah pre {
    padding-left: 4.7vw;
    font-size: 1vw;
    line-height: 1.2;
}
.teamo {
    display: block;
    width: 80vw;
    margin: auto;
    z-index: 0;
}
.teamo pre {
    padding-left: 6.2vw;
    font-size: 1vw;
    line-height: 1.2;
}
.nana {
    display: block;
    width: 60vw;
    margin: auto;
    z-index: 0;
}
.nana pre {
    padding-left: 20vw;
    font-size: 1vw;
    line-height: 1.2;
}
source {
   max-width:100%;
   height:auto;
   max-height:100%;
}
img {
   max-width:100%;
   height:auto;
   max-height:100%;
}

#face {
    position: fixed;
    display: inline;
    top: 4vw;
    right: 11vw;
    mix-blend-mode: multiply;
}
#nose {
      position:relative; 
    top:0vw;
    right:2vw;
    z-index: 3;
    width: 13vw;
}
#lefteye {
      position:relative; 
  top:4vw;
  left:0vw;
  z-index: 2;
}
#righteye {
  position:relative; 
  top:3vw;
  left:7vw;
  z-index: 2;
}
#mouthbox {
    position:absolute; 
  top:13vw;
  right:3vw;
  z-index: 2;
}
#flagpole { 
  position:absolute; 
  left:320px; 
  bottom:300px; 
  z-index: 5; 
}
#moundbox {
  position: absolute;
  bottom:160px;
  left: 250px;
  z-index: -1;
}
#flag { 
  position:absolute; 
  left:400px; 
  bottom:400px; 
  z-index: 5; 
}
video {
  max-width: 100%;
  height: auto;
}
#quanyin {
    display: block;
    width: 80vw;
    margin: auto;
}

#quanyin pre {
    padding-left: 4.3vw;
    font-size: 1vw;
    line-height: 1.2;
}

#witowmaker {
    display: block;
    width: 80vw;
    margin: auto;
}

#witowmaker pre {
    padding-left: 16.5vw;
    font-size: 1vw;
    line-height: 1.2;
}


@media screen and (min-width: 1200px) {
    .ascii {
        font-size: 12px;
        }


}
@media screen and (max-width: 768px) {
    .ascii {
         font-size: 7.6px;
      }

}
